---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
excerpt: "Ali Demir designed and taught Introductory Migration Economics, an English-language undergraduate seminar at Ruhr University Bochum."
---

{% include base_path %}

<p>I designed and taught <em>Introductory Migration Economics</em>, an English-language undergraduate seminar at Ruhr University Bochum, in winter semester 2025/26. I developed the syllabus and lecture materials, combining economic models of migration with the interpretation and evaluation of empirical research.</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
